@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Inter', sans-serif;
}

.img-container {
    width: 32rem;
    height: 32rem;
}

.spinner {
    animation: spinner 1s alternate infinite;
    display: inline-block;
}

@keyframes spinner {
    from { transform: scale(1); }
    to { transform: scale(1.2); }
}